<% provide(:title,'all users') %>
<h1>List of users</h1>

<%= will_paginate %>

<div class="users">
		<% @users.each do |user| %>
			<%= render user %>
		<% end %>
</div>

<%= will_paginate %>