<footer class='footer'>
	<small>
		<a href='#'>Rails Tutorial</a> with Tai Nguyen
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",about_path %></li>
			<li><%= link_to "Contact",contact_path %></li>
			<li><%= link_to "Share",help_path %></li>
		</ul>
	</nav>

